@import "tailwindcss";

@theme {
  --color-background: #10131a;
  --color-surface: #10131a;
  --color-surface-dim: #10131a;
  --color-surface-bright: #363940;
  --color-surface-container-lowest: #0b0e14;
  --color-surface-container-low: #191c22;
  --color-surface-container: #1d2026;
  --color-surface-container-high: #272a31;
  --color-surface-container-highest: #32353c;
  --color-on-surface: #e0e2eb;
  --color-on-surface-variant: #b9cacb;
  --color-outline: #849495;
  --color-outline-variant: #3b494b;
  --color-primary: #dbfcff;
  --color-primary-container: #00f0ff;
  --color-primary-fixed: #7df4ff;
  --color-primary-fixed-dim: #00dbe9;
  --color-on-primary: #00363a;
  --color-on-primary-container: #006970;
  --color-secondary: #ffb693;
  --color-secondary-container: #fe6b00;
  --color-on-secondary-container: #572000;
  --color-tertiary: #e9f9ff;
  --color-tertiary-container: #96e5ff;

  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #10131a;
    color: #e0e2eb;
    font-family: var(--font-sans);
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #10131a;
}
::-webkit-scrollbar-thumb {
  background: #32353c;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00dbe9;
}

